dialog-container
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", (click)="dismiss()")
					| &times;
				h4.modal-title Confirm
			.modal-body
				| {{ foo }}

				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni perferendis eum sit at vero quo officia, dicta reprehenderit unde rem hic tempore sapiente a voluptates sunt minima, natus quasi deserunt.

				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni perferendis eum sit at vero quo officia, dicta reprehenderit unde rem hic tempore sapiente a voluptates sunt minima, natus quasi deserunt.

				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni perferendis eum sit at vero quo officia, dicta reprehenderit unde rem hic tempore sapiente a voluptates sunt minima, natus quasi deserunt.

				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni perferendis eum sit at vero quo officia, dicta reprehenderit unde rem hic tempore sapiente a voluptates sunt minima, natus quasi deserunt.
			.modal-footer
				button.btn.btn-success((click)="close({value: 'ok'})") Save
